<div class="row " >
  <div class="col-sm-5">
    <div class="card card1">
      <div class="card-body d-flex justify-content-center align-items-center">
        <img src="./assets/profilepic.jpg"/>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card card2">
      <div class="card-body header-text">
       <h1>Hello there ! <br> I am <span>Imad Yasin </span> </h1>
       <br>
       <h6>A passionate and creative Software Developer with a knack for turning ideas into reality
        through code. With a strong foundation in web development and a love for crafting clean, efficient,
         and user-friendly experiences, I thrive on bringing innovative concepts to life.
        </h6>
        <h6>Let's collaborate and turn your ideas into exceptional digital experiences. Feel free to
           reach out and let's create something amazing together!
        </h6>
        <br>
        <h6 class="color">Looking forward to connect with you!</h6>

      </div>
    </div>
  </div>
</div>
