
<div class="main-box">

<div class="row">
  <div class="col-sm-12">
    <h1>Technical Skills</h1>
    </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">HTML</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">CSS</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">JavaScript</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">Java</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">Hibernate</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">SpringBoot</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">My-Sql</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card box">
      <div class="card-body">
        <h5 class="card-title">Git</h5>
      </div>
    </div>
  </div>
</div>
</div>
